<%- include partials/_head.ejs%>

<link rel="stylesheet" href="/styles/browse_maps.css" type="text/css">
<link rel="stylesheet" href="/styles/queries.css" type="text/css">



<%- include partials/_nav.ejs %>

  <main>
    <div class='browse-header'>
      <% if (mapType === 'myMaps') { %>
        <span>Your Maps</span>
      <% } else if (mapType === 'favourites') { %>
        <span>Favourite Maps</span>
      <% } else { %>
        <span>Public Maps</h2>
      <% } %>
    </div>
    <div class="browse-maps">
      <% for (const map of JSON.parse(dbData)) {%>
      <div class="map-article">
        <div>
          <h3><%= map.title %></h3>
          <p><%= map.description %></p>
        </div>
        <div class='map-buttons'>
          <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=map.id%>">View</a>
          <% if (mapType === 'myMaps') { %>
          <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=map.id%>/edit">Edit</a>
        </div>
          <% } %>
      </div>
    </div>
      <% }%>
    </div>
    </main>
  <%- include partials/_foot.ejs %>
  </body>
</html>
