<%- include partials/_head.ejs%>

  <main>
    <div class='browse-header'>
      <% if (mapType === 'myMaps') { %>
        <span>Your Maps</span>
      <% } else if (mapType === 'favourites') { %>
        <span>Favourite Maps</span>
      <% } else { %>
        <span>Public Maps</h2>
      <% } %>
    </div>
    <div class="browse-maps">
      <% for (const map of JSON.parse(dbData)) {%>
      <div class="map-article">
        <div>
          <h3><%= map.title %></h3>
          <p><%= map.description %></p>
        </div>
        <div class='map-buttons'>
          <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=map.id%>"><button>View</button></a>
          <% if (mapType === 'myMaps') { %>
          <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=map.id%>/edit"><button>Edit</button></a>
        </div>
          <% } %>
      </div>
    </div>
      <% }%>
    </div>
    </main>
  <%- include partials/_foot.ejs %>
  </body>
</html>
