<%- include partials/_head.ejs %>

  <main >

  <div class='map-display'>

    <div class='map-title'><%-mapTitle%></div>
    <div id="map"></div>
    <div class='map-info'>
      <div class='map-description'><%-mapDescription%></div>
      <% if (user == mapOwner) { %>
        <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=mapId%>/edit"><button>Edit</button></a>
      <% } %>
    </div>
  </div>

    <h3>Saved Pins</h3>
    <% for (const pin of JSON.parse(dbResults)['pin_data']) { %>
      <div class='pins-display'>
        <div>
      <h5><%= pin.title %></h5>
      <p><%= pin.description%></p>
    </div>
    <div class='pin-image'><img class='pin-image' src="<%=pin.image_url%>"></div>
    </div>
    <% } %>




  </main>


 <script>
  const dbData = <%-dbResults%>;
  const mapData = dbData['map_data'];
  const pinData = dbData['pin_data'];
 </script>
 <script src='/scripts/map_view.js'></script>
 <script src="/scripts/PinMap.js"></script>
  <script src="/scripts/Pin.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
  async defer></script>
</body>
</html>
