<%- include partials/_head.ejs%>

<link rel="stylesheet" href="/styles/browse_maps.css" type="text/css">
<link rel="stylesheet" href="/styles/queries.css" type="text/css">
<link rel="stylesheet" href="/styles/profile.css" type="text/css">

<%- include partials/_nav.ejs %>

    <main>
      <div class='browse-header profile-header'>
        <div><img class='profile-image' src='<%= avatar %>'></div>
        <div><%= username%></div>
      </div>


      <div class='profile-section'>My Maps</div>

      <div class="browse-maps">
        <% for (const map of JSON.parse(myMaps)) {%>
        <div class="map-article">
          <div>
            <h3><%= map.title %></h3>
            <p><%= map.description %></p>
          </div>
          <div class='map-buttons'>
            <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=map.id%>">View</a>
            <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=map.id%>/edit">Edit</a>
          </div>
        </div>
      </div>
        <% }%>
      </div>

      <div class='profile-section'>Favourite Maps</div>

      <div class="browse-maps">
        <% for (const map of JSON.parse(favouriteMaps)) {%>
        <div class="map-article">
          <div>
            <h3><%= map.title %></h3>
            <p><%= map.description %></p>
          </div>
          <div class='map-buttons'>
            <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=map.id%>"><button>View</button></a>
        </div>
      </div>
        <% }%>
      </div>

    </main>
  <%- include partials/_foot.ejs %>
  </body>
</html>
